

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}

/* Mobile Layout */
@media only screen and (max-width: 599px) {
    [class*="col-"] {
        width: 100%;
    }    
}

/* Tablet Layout */
@media only screen and (min-width: 600px) and (max-width: 999px) { 

}

/* Desktop Layout */
@media only screen and (min-width: 1000px) {

}
